
<p><%= link_to 'New Pattern', new_pattern_path %> | <%= link_to "Edit Pattern", edit_pattern_path(@pattern) %></p>

  <div class="heading">
  <h2><%= @pattern.name %></h2>
  </div>
<div class="show_container">
  <div class="show_pattern">
    <div>
    <h4 class="designer"><%= link_to @pattern.designer_name, src='https://www.etsy.com/shop/Mbhfy'%> </h4>
    </div>
    <div class="show_box">
    <%= image_tag @pattern.photo_url, class: "pattern-photo" %>
    </div>
    <div class="show_body">
    <h4><%= @pattern.details_body %></h4>
    <div><p class="show_border"></p></div>
  </div>
  </div>
</div>
