

<h2><%= @pattern.name %> <%= link_to "(edit)", edit_pattern_path(@pattern) %></h2>
<h4><%= @pattern.designer_name %></h4>
<%= image_tag @pattern.photo_url, class: "pattern-photo" %>
<h4><%= @pattern.details_body %></h4>

<h4>Yarn</h4>
<div>
  <% @pattern.yarns.each do |yarn| %>
      <img src="<%= yarn.yarn_url %>"/>
      <p><%= yarn.name %></p>
      <p><%= yarn.yards %></p>
<p data-no-turbolink>
  <%= link_to 'Edit Yarn', edit_pattern_yarn_path(@pattern) %> |
  <%= link_to 'Remove Yarn', [yarn.pattern, yarn],
 method: :delete, data: {confirm: 'Are you sure, you want to delete this yarn'} %></p>
</div>
  <% end %>
